body {
    margin: 0;
}

h1,
h3,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.mini-mini {
    width: 500px;
    height: 400px;
    overflow: hidden;
    border: 3px solid rebeccapurple;
    overflow-x: scroll;
    overflow-y: scroll;
}

.big-choto {
    width: 300px;
    height: 120px;
    border: 3px solid rosybrown;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    height: 100px;
    width: 100px;
    background: #8ed9e5;
    border: 3px solid aliceblue;
    margin: 50px;
}

.inner {
    background-color: saddlebrown;
    height: 100%;
    width: 100%;
}

.inner:hover {
    transform: scale(1.1);
    transform: rotate(30deg);
}

.chakum_chukum {
    width: 300px;
    height: 300px;
    background-color: sandybrown;
    border: 1px solid greenyellow;
    transition: width 3s ease-in-out, height 3s ease-in-out;
}

/* .chakum_chukum:hover {
    width: 600px;
    height: 500px;
} */
.box_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-area {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.flexbox-area1 {
    /* animation: rakibthpi 2s timing-function delay iteration-count direction fill-mode; */
    animation: rakibthpi 5s linear 2s infinite alternate;
}

@keyframes rakibthpi {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.grid-grid {
    display: grid;

}